
.navbar{
    background-color: #FFFFFF;
}

aside{
    width:130px;
    height:100vh;
    background-color: #12283F;
}


aside li{
    list-style: none;
}
main{
    background-color: #1B72E8;
    color:black;
    width: calc(100% - 130px);
}
.fa-plus{
    border:1px solid white;

}